@use '../../assets/sass/theme.scss' as *;

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-color);
    color: var(--gray-900);
    padding: 1rem;
    border-radius: 1rem;
    transition: transform all .4s ease-in-out;

    &:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}